<section class="collection-wrap">
    <div class="page-width">
      <div class="collection-block hm-product-slider" style="opacity:0">
      {% if section.settings.heading != blank %}
          <div class="block-header">
            <h2>{{ section.settings.heading }}</h2>
          </div>
      {% endif %} 
      
      {% render 'hm-slider-loader'%}
      <div class="slick-slider"> 
         <ul class="grid-slider-five desktop-view slick-sliders"  {% if request.locale.iso_code == 'ar' %} dir="rtl"{%endif%}>
          {%- assign collection = collections[section.settings.collection_id] -%}
          {% assign pro_limit = section.settings.grid %}
          {% for product in collection.products limit:pro_limit %}
              <li class="grid-items">
                  {% render 'product-grid-layout-slider' with {
                      product: product
                  }%}
              </li>
          {% endfor %}
          </ul>
     <div class="product-grid-slider pdp-like__slider__arrow pdp-like__slider__arrow-prev">                  
          <svg class="pdp__media__master__slider__arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12.771" height="24.129" viewBox="0 0 12.771 24.129">
              <path fill="none" stroke="#000" d="M-11902.357-18787.281l11.711 11.719-11.711 11.7" transform="translate(-11889.939 -18763.506) rotate(180)"/>
          </svg>
      </div>

      <div class="product-grid-slider pdp-like__slider__arrow pdp-like__slider__arrow-next">
          <svg class="pdp__media__master__slider__arrow-icon" xmlns="http://www.w3.org/2000/svg" width="12.771" height="24.129" viewBox="0 0 12.771 24.129">
              <path fill="none" stroke="#000" d="M-11902.357-18787.281l11.711 11.719-11.711 11.7" transform="translate(11902.711 18787.635)"/>
          </svg>   
      </div>

      </div>
  
          {% if section.settings.show_btn %}
          <div class="more-collection">
                  <a href="{{ collection.url }}" class="btn-ctm">{{ section.settings.btnlabel }} </a>
          </div>
          {% endif %}
      </div>
    </div>
  </section> 
 
  {% schema %}
      {
          "name": "Home product list Slider",
          "settings": [
              {
                  "type": "text",
                  "id": "heading",
                  "label": "Heading"
              },
              {
                  "type": "collection",
                  "id": "collection_id",
                  "label": "collection"
              },
              {
                  "type": "range",
                  "id": "grid",
                  "label": "Products per row",
                  "min": 2,
                  "max": 5,
                  "step": 1,
                  "default": 3
              },
              {
                  "type": "range",
                  "id": "grid_mobile",
                  "label": "Product list on mobile",
                  "min": 2,
                  "max": 6,
                  "step": 1,
                  "default": 3
              },
              {
                  "type": "checkbox",
                  "id": "show_btn",
                  "label":"Show Button",
                  "default": false
              },
              {
                  "type": "text",
                  "id": "btnlabel",
                  "label": "Button Label",
                  "default": "View All"
              }
          ],
          "presets": [
              {
                  "name": "Home product list Slider",
                  "category": "collection"
              }
          ]
      }
  {% endschema %}
