<div class="hero-banner">
    
    <div class="hero-banner__inner">
        <img src="https://cdn.shopify.com/s/files/1/0579/6478/9934/files/hero-banner-desk.jpg?v=1624779765" alt="" class="hero-banner__img">
    </div>

    <div class="hero-banner__content">
        <div class="hero-banner__content__heading">Sample Text</div>
        <div class="hero-banner__content__para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sapiente, incidunt similique dicta praesentium laudantium ipsa totam magni. Cumque mollitia nihil veniam, quas quasi iure at unde pariatur iste perspiciatis?</div>
        <div class="hero-banner__content__button">View Collection</div>
    </div>

</div>
