<div class="page_container">
    <div class="noresult_wrap">
      <h1>404</h1>
      <p>We coluld find the page you're looking for.</p>
      <a href="https://molton-dev.myshopify.com/" class="btn-ctm">Go back</a>
    </div>
  </div>