

/* Home-banner_with_overlay */
.page-width {
    max-width: 1220px;
    margin: 0 auto;
}
.banner-wrap {
    position: relative;
}
.banner-wrap .banner-content-wrap {
    position: absolute;
    width: 300px;
    right: calc((100vw - 1100px) / 2);
    top: 42%;
    transform: translate(0, -50%);
}
.banner-image picture {
    line-height: unset;
}
.banner-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.banner-content {
    color: #fff;
    text-align: center;
}
.banner-content .banner-title {
    font-size: 41px;
    color: #fff;

    font-weight: 400;
    line-height: 1.39;
    margin-bottom: 20px;
}
.banner-content .banner-desc {
    display: none;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.banner-cta {
    text-align: center;
}
.btn-ctm {
    min-width: 146px;
    padding: 11px 20px;
    background-color: #000;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    font-size: 14px;
    color: #fff;

    font-weight: 400;
    text-transform: uppercase;
}
.btn-ctm:hover,
.btn-ctm:focus {
    opacity: 1;
    color: #fff !important;
    background: #716c6c;
}

/* home product list*/
.collection-wrap {
    margin: 85px 0 0px;
}
.block-header {
    margin-bottom: 30px;
    text-align: center;
}
.block-header h2 {
    margin: 0;
    letter-spacing: 0;
    font-size: 22px;
    color: #000;

    font-weight: 400;
    text-transform: capitalize;
}
.collection-block {
    max-width: 920px;
    margin: 0 auto;
}
.more-collection {
    padding-top: 55px;
    text-align: center;
}
.more-collection .btn-ctm {
    min-width: 310px;
}
.grid-five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    padding-left: 0px;
}
.product_card {
    text-align: center;
    position: relative;
}
.product_card .product-link {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.product_card .product_img {
    margin-bottom: 20px;
    position: relative;
}
.product_card .product_img .product-tag {
    width: 48px;
    height: 48px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    top: 0;
    position: absolute;
    font-size: 14px;
    color: #fff;

    font-weight: 400;
    text-transform: uppercase;
}
.product_desc .product-tag-mob {
    display: none;
}
.product_desc .product_title {
    margin: 0 0 20px;
    line-height: 20px;
    font-size: 14px;
    color: #000;

    font-weight: 400;
}
.product_desc .product_price {
    font-size: 14px;
    color: #000;

    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_desc .product_price .price-dis {
    font-size: 12px;
    padding-left: 10px;
}

/* home collection list*/
.grid-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px 30px;
}
.feature-wrap {
    margin-top: 80px;
}
.feature-wrap .page-width {
    max-width: 1110px;
}
.feature-col {
    text-align: center;
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.feature-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.feature-col .feature-image,
.feature-col .rte-setting {
    margin-bottom: 22px;
}
.feature-content h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;

    font-weight: 600;
}
.feature-content p {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    font-style: italic;
}

/* footer icon list */
.shipping-wrap {
    background-color: #e5e5e5;
    padding: 22px 0;
    margin-top: 70px;
}
.shipping-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 110px;
    max-width: 480px;
}
.shipping-grid .shipping-items {
    text-align: center;
}
.shipping-grid .shipping-items .shipping-des {
    font-size: 12px;
    line-height: 16px;
}
.shipping-grid .shipping-items .shipping-img {
    margin: 0 auto 10px;
}

/* footer newsletter */
.newsletter-custom {
    max-width: 540px;
    margin: 40px auto;
    text-align: center;
}
.newsletter-custom .block-header {
    margin-bottom: 22px;
}
.newsletter-custom .block-header h2 {
    color: #000;

    font-size: 18px;
    font-weight: 400;
}
.newsletter-custom .newsletter-desc p {
    margin: 10px 0 0;
    color: #000;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.newsletter-custom form .input-group {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.newsletter-custom form .input-group input {
    width: 100%;
    border: solid 1px #ccc;
    background-color: #fff;
    padding: 0 10px 0 40px;
    height: 44px;
    outline: none;
    font-size: 14px;
    font-style: italic;
}
.newsletter-custom form .input-group input::-webkit-input-placeholder {
    color: #ccc;
}
.newsletter-custom form .input-group input:-moz-placeholder {
    color: #ccc;
}
.newsletter-custom form .input-group .envelope-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
}
.newsletter-custom form .input-group__btn button {
    min-width: 186px;
    padding: 11px 0px;
    background-color: #000;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    color: #fff;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #000;
    height: 45px;
    cursor: pointer;
}

/* login page css start  */
.customer-login {
    padding: 60px 0 0;
}
.login-common .new-user li,
.login-common .new-user p {
    font-size: 14px;
    font-weight: normal;
}
.customer-login .page-container.login-common {
    max-width: 980px;
}
.login-grid-wrap {
    display: grid;
    grid-template-columns: 42% 48.5%;
    grid-column-gap: 9.5%;
}

.login-grid-right .new-user h4 {
    margin: 0 0 10px;
    color: #000000;
}
.login-grid-right .new-user p {
    margin: 0;
    padding: 0 40px 0 0;
}
.login-grid-right .new-user ul {
    margin: 0;
    padding: 15px 0;
}
/*login page css end  */

/*media css star*/
@media all and (max-width: 1199px) {
    .banner-wrap .banner-content-wrap {
        right: 50px;
    }
    .feature-wrap .page-width {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media all and (max-width: 991px) {
    .collection-block {
        padding-left: 30px;
        padding-right: 30px;
    }
    .collection-wrap {
        margin-top: 70px;
    }
    .product_card .product_img .product-tag {
        width: 40px;
        height: 40px;
        font-size: 13px;
    }
    .feature-wrap {
        margin-top: 60px;
    }
    .btn-ctm {
        margin-top: auto;
        min-width: auto;
    }
}

@media all and (max-width: 749px) {
    .banner-wrap .banner-content-wrap {
        position: relative;
        transform: none;
        right: 0;
        width: unset;
        padding: 20px 30px 0px;
    }
    .banner-content {
        color: #000;
    }
    .banner-content .banner-title {
        color: #000;
        line-height: initial;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0;
    }
    .banner-content .banner-desc {
        display: block;
        color: #000;
    }

    .collection-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .grid-five {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 43px 10px;
    }
    .more-collection .btn-ctm {
        min-width: 146px;
    }
    .block-header {
        margin-bottom: 15px;
    }
    .product_card .product_img {
        margin-bottom: 10px;
    }
    .product_card .product_img .product-tag {
        display: none;
    }
    .product_desc {
        position: relative;
    }
    .product_desc .product-tag-mob {
        background: #000;
        display: block;
        color: #fff;
        font-size: 14px;
        padding: 2px 10px;
        font-weight: 400;
        position: absolute;
        top: 0;
        width: calc(100% - 20px);
    }
    .product_desc .product_title {
        padding-top: 30px;
    }
    .grid-three {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px 0;
    }
    .feature-wrap .page-width {
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-ctm {
        min-width: 146px;
    }
    .shipping-grid {
        grid-column-gap: 15px;
        max-width: 100%;
        padding: 0 15px;
    }
    .shipping-grid .shipping-items .shipping-des {
        font-size: 14px;
        line-height: 16px;
    }
    .newsletter-custom {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .newsletter-custom .block-header {
        margin-bottom: 25px;
    }
    .newsletter-custom form .input-group {
        flex-wrap: wrap;
    }
    .newsletter-custom form .input-group .envelope-icon {
        top: 24px;
    }
    .newsletter-custom form .input-group .input-group__btn button {
        min-width: 100%;
        width: 100%;
        margin: 15px 0 0;
        height: 44px;
    }
    .newsletter-custom .input-group__btn {
        width: 100%;
    }

    .login-grid-wrap {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
    }
    .customer-login {
        padding: 25px 0 0;
    }
    .customer-login .login-common h1 {
        margin-bottom: 30px;
    }
    .login-grid-right .new-user {
        padding: 18px;
    }
 
}
  
/*media css end*/
   
.cart-items-loop .cart-quantity{pointer-events: none;}



/* support page css start  */
.accordion_body {
    display: none;
}
.accordion_items{
    border-bottom: 1px solid #ccc;
}

.accordion_title {
    padding: 14px 30px 14px 0;
    margin: 0;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
.accordion_items:first-child .accordion_title {
    padding-top: 0;
}  

.accordion_title .icon-plus, 
.accordion_title .icon-minus {
    position: absolute;
    right: 0;
    width: 11px;
}
.accordion_title .icon-minus {
    display: none;
} 

.active-item:first-child .accordion_title .icon-minus{
    top: -5px;

}

.active-item .accordion_title .icon-minus {
    display: block;
    top: 9px;
}


.active-item .accordion_title .icon-plus{
    display:none;
}
.accordion_body {
    font-size: 14px;
    line-height: 20px;
}
.accordion_body p {
    padding: 10px 0 0;
    margin-top: 0;
}
.active-item .accordion_title {
    font-weight: 700;
}



/* support page css end */



@media all and (max-width: 749px) {

    .support_wrap .left-sidebar {
        display: none;
    }

    .support_wrap .sidebar-content {
        padding: 0;
    }
}

/* about page css start */
.about_banner {
    margin-bottom: -180px;
}
.about_banner img {
    width: 100%;
}
.about_cont {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    width: 878px;
}
.about_intro {
    padding: 30px 48px 0;
    text-align: center;
}
.about_intro .intro_title {
    margin: 0;
    font-size: 25px;
}
.intro_subtitle {
    font-size: 22px;
    margin: 8px 0 15px;
    font-weight: normal;
    font-style: italic;
}
.about-row {
    display: flex;
    margin-top: 25px;
}
.left_colm {
    width: 50%;
    padding-right: 15px;
}

.right_colm {
    width: 50%;
    padding-left: 15px;
}
.ab-blockcon {
    margin-top: 24px;
    padding: 0 16px;
}
.ab-blockcon .ab-title {
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.ab-para {
    margin: 15px 0;
}

.ab-para p {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}
.left_colm.ab_quote {
    align-self: center;
}

blockquote p {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 36px;
    font-weight: normal;
}
.quote_box blockquote {
    margin: 0;
    padding: 0;
    position: relative;
}
.quote_box blockquote hg3 {
    padding: 0 87px 0 60px;
}

.quote_box blockquote h3 {
    padding: 0 79px 0 60px;
    font-size: 30px;
    margin: 0;
}
.quote_btm {
    padding: 10px 60px;
}
.quote_btm p {
    font-size: 14px;
    margin: 0;
    line-height: 20px;
}
.quote_box blockquote:before {
    content: "\f10d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 60px;
    font-style: italic;
    position: absolute;
    top: 0;
    z-index: 1;
    color: rgba(0, 0, 0, 0.2);
    left: 0;
}
/* about page css end */

.item-variant-details{margin: 0px 0px 5px; padding: 0;}
.item-variant-details .product-details__item--variant-option{font-size: 14px;font-weight: 400; line-height: 1.29;text-transform: none;}
/* mega menu layout css  */
.mega-menu ul.ul-reset.sub-first-lvl {
    display: flex;
    float: none;
    min-height: 370px;
    position: relative;
    padding: 40px 5px 0 30px;
    max-width: 1040px;
}

.mega-menu li.lvl-li-two {
    height: auto;
    width: 190px;
    float: left;
}

.mega-menu .right_img_desk {
    position: relative;
    width: auto;
    height: auto;
    float: right;
    display: flex;
}

.mega-menu > .container {
    max-width: 1100px;
 }

 

.mega-menu li.featured-block,
li.lvl-li-two {
    padding: 0;
}

.mega-menu li.featured-block {
    width: 100%;
    margin-right: 20px;
}

.mega-menu li.featured-block:last-child {
    margin-right: 0;
}

.mega-menu a.lvl-one-link {
    text-transform: uppercase;
}
/*megamenu laypout css  */






@media all and (min-width: 750px) {
  
/* megamenu hover shadow   */
  .nav-is-ready #shopify-section-header {
      position: relative;
      background: #cccccc;
      opacity: 1;
  }
  .nav-is-ready #shopify-section-header:after {
      content: '';
      position: absolute;
      left: calc(-50vw + 50%);
      z-index: 9;
      width: calc(100% + 8px); ;
      height: 200vh;
      background: #cccccc;
      opacity: 1;
  }
  nav>ul>li.has-subs>a:hover {
          box-shadow: 0 0.14286rem 0.28571rem 0 rgba(0, 0, 0, 0.492);

  }  
}   


@media all and (max-width: 991px) {
    /* about page css start*/
    .about_banner {
        margin-bottom: 0;
    }
    .about_cont {
        width: auto;
        max-width: 100%;
        padding: 0 15px;
    }
    blockquote p {
        font-size: 26px;
    }
    /* about page css end */
}


@media all and (max-width:749px){
    /* about page css start*/
    .about_banner {
        margin-bottom: 0;
    }
    .about_cont {
        width: auto;
        max-width: 100%;
        padding: 0 21px;
    }
    .left_colm {
        width: 100%;
        padding-right: 0;
    }

    .right_colm {
        width: 100%;
        padding-left: 0;
    }

    .about-row {
        flex-wrap: wrap;
    }
    .about_intro {
        padding: 30px 0 0;
    }
    .ab-blockcon {
        margin-bottom: 25px;
    }
    .quote_box blockquote h3 {
        padding: 0 60px 0 60px;
    }

    .left_colm.ab_quote {
        margin-bottom: 25px;
    }
    /* about page css end */

}


#map_canvas {
    width: 573px;
    height: 790px;
}
#legend h3 {
    margin-top: 0;
    padding: 1px;
    text-align: center;
    border: 1px solid #fff;
}
#legend img {
    vertical-align: middle;
}


div#legend {
    align-self: flex-start;
    display: flex;
}
div#legend h3 {
    display: none;
} 

#legend div {
    width: 50%;
      display: flex;
    align-items: center;
}


#legend input[type=checkbox] {
    position: relative;
    cursor: pointer;
    min-height: auto;
    margin-bottom: 0!important;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    padding: 0 10px;
    border: solid .5px #000;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
#legend input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #81888e;
    background-color: #fff;
}
#legend input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(
45deg
);
    position: absolute;
    top: 4px;
    left: 7px;
}
 
#legend input[type=checkbox]:checked:before {
    background-color: #000;
}   


/* media css start */

@media all and (max-width: 1023px){
    #map_canvas {
      width: 400px;
      height: 551px;
  }
}


@media all and (max-width: 749px){
  .store_grid {
      display: block;
  }
    .store-content,
    .store-sidebar
     {
        width: 100%;
    }
  .store-info ul>li, .store-info ul>li a {
      font-size: 12px;
  }
  #map_canvas {
      width: 100%;
  }
}
.store-list .store-list-item{cursor: pointer;}
/* media css end */

.mini-cart-content>h3.cartempty_text {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
	text-transform: uppercase; 
}

.mini-cart-content>h3.cartempty_text.hide {
    display: none;
}

.mini-cart-content>h3.mini-cart-title.hide {
    display: none;
}

.mini-cart-content>section.mini-cart-list.hide {
    display: none;
}

.mini-cart-content>div.mcart-go-cart.hide {
    display: none;
}

/* media css code */
@media all and (max-width: 749px){
  .mobile-nav__dropdown .child2_without_btn {
      position: relative;
  }
  .mobile-nav__dropdown .child2_without_btn .lable_without_btn {
      border-top: 1px solid #cccccc;
      box-sizing: border-box;
      width: 100%;
      font-size: 15px;
      color: #000000;
      text-transform: uppercase;
      padding: 14px 40px 14px 15px;
      display: block;
      background: #d3d3d3;
  }
  .mobile-nav__dropdown .child2_without_btn .mobile-nav__icon {
      position: absolute;
      right: 15px;
      top: 15px;
  }
}
.lvl-li-three.show_bold_menu {
    font-weight: bold;
}
// cart promo
.promo_code_wrap .promo-title {
    font-size: 14px;
    margin-bottom: 20px;
}
.promo-body {
    display: none;
}
.promo-body .form-group.form_inline {
    display: flex;
}
.promo-body .form-group.form_inline .btn-ctm {
    min-width: auto;
    border: 1px solid #000000;
    border-radius: 0px;
    width: 90px;
}
.promo-body .form-group.form_inline input#promo_coupon {
    border-radius: 0px;
    border: 1px solid #000000;
    border-right: none;
    padding-left: 8px;
    outline: none;
    width: calc(100% - 90px);
}
@media all and (max-width: 1023px) {
    .promo-body .form-group.form_inline .btn-ctm {
        padding: 14px 4px;
        font-size: 12px;
    }
}
@media all and (max-width: 749px) {
    .promo-body .form-group.form_inline .btn-ctm {
        width: 90px;
    }
    .promo-body .form-group.form_inline input#promo_coupon {
        width: calc(100% - 90px);
    }
}

