.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.footer-header .footer-title {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}
.footer-top {
    padding-top: 30px;
}
.footer-body {
    margin-top: 20px;
}
.footer-body ul {
    margin: 0;
    padding: 0;
}
.footer-body ul > li > a {
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}

.footer-header .footer-title span {
    display: none;
}

.footer-bottom {
    background: #000000;
    text-align: right;
    color: #ffffff;
    padding: 13px 0;
    font-size: 12px;
    margin: 45px 0 0;
}  


@media all and (max-width: 1299px) {
    .site-footer .page-width {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media all and (max-width: 1023px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 10px;
    }
}

@media all and (max-width: 749px) {
    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0 10px;
    }
    .footer-body {
        display: none;
        margin: 0;
    }

    .footer-item {
        border-bottom: 1px solid #cccccc;
        padding: 15px 0;
    }
    .footer-header .footer-title {
        font-weight: normal;
        position: relative;
        padding-right: 30px;
    }

  
    .footer-header .footer-title span.arrow-right {
        display: block;
        position: absolute;
        right: 0;
        top: 2px;
    }
    .site-footer .page-width {
        padding-left: 15px;
        padding-right: 15px;
    }
  .footer-header .footer-title span.arrow-right svg {
      width: 6px;
  }

  .footer-body ul.footer-list {
      padding-left: 20px;
      padding-top: 20px;
  }


  .footer-item.active-item .footer-header .footer-title {
      font-weight: bold;
  }

  .footer-header .footer-title span.arrow-down {
      display: block;
      position: absolute;
      right: -4px;
      top: 2px;
      display: none;
  }
  .footer-header .footer-title span.arrow-down svg {
      height: 6px;
  }

  .footer-item.active-item .footer-header .footer-title span.arrow-right {
      display: none;
  }

  .footer-item.active-item .footer-header .footer-title span.arrow-down {
      display: block;
  }
  .footer-bottom{
  	text-align:center;
  }
}


/* 26-july-2021 css start  */

.contact_wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-form-con.login-wrap select {
    background-position: 98%;
}

.form-row-flex {
    display: flex;
    justify-content: space-between;
}

.form-row-flex .form-group {
    width: 50%;
}

.form-row-flex .form-group:nth-child(odd) {
    padding-right: 15px;
}

.form-row-flex .form-group:nth-child(even) {
    padding-left: 15px;
}
  
.mobile-row {
    display: flex;
    justify-content: space-around;
}

.mobile-row .phone-area-div {
    width: 50%;
    padding-right: 7px;
}

.mobile-row .phone_number {
    width: 50%;
    padding-left: 7px;
}  
.count-text {
    display: flex;
    justify-content: flex-end;
    padding: 4px 0 0;
    font-size: 13px;
}
  
.form-row textarea {
    height: auto !important;
  	padding: 10px;

}

.form-actions input.btn-ctm {
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}  

.contact-info-wrap {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 30px 0 0;
    text-align: center;
}  
.content-asset h5 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}


.contact-info-item {
	padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.contact-info-item:last-child{
	padding-bottom: 0px;
}

.icon-img img {
    width: 16px!important;
    margin-right: 10px;
}

span.float-right {
    top: 0;
    position: absolute;
    right: 0;
    font-size: 14px;
}  



/* media css start */

@media all and (max-width: 749px){
	.form-row-flex {
        display: block;
    }

    .form-row-flex .form-group {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .form-row-flex .form-group:nth-child(even) {
        padding-left: 0;
    }
    .form-row-flex {
        display: block;
    }

    .form-row-flex .form-group {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .form-row-flex .form-group:nth-child(even) {
        padding-left: 0;
    }

    .mobile-row {
        display: block;
    }

    .mobile-row .phone-area-div {
        width: 100%;
        padding: 0;
    }

    .mobile-row .phone_number {
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }
    .contact-info-item {
        flex-wrap: wrap;
    }

    .contact-info-item a {
        font-size: 12px;
    }

}  
.register-footer .form-group.not-valid>label{
    color:#000000;    
}
.red-label, .red-label a{
    color: red !important;
}


