<!-- Tool bar -->
<section class="mb-top-tool-bar">
	<div class="mb-tool-bar-flex">
      {% if section.settings.announcement-bar != blank %}
		<div class="tb-left">
			<p><a href="{{ section.settings.announcement-link }}">{{ section.settings.announcement-bar }}</a></p>
		</div>
      {% endif %}
		<div class="tb-right">
          {% assign  topcolumn = section.settings.link_list_id %}
			<ul>
				{% for link in linklists[topcolumn].links %}
					<li class="tb-find-store"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %} 
			</ul>
		</div>
	</div>
</section>