<!-- Tool bar -->
<section class="mb-top-tool-bar">
	<div class="mb-tool-bar-flex">
		<div class="tb-left">
			<p><a href="#">Free delivery in UAE for purchases over 300AED</a></p>
		</div>
		<div class="tb-right">
			<ul>
				<li><a href="#">Find Store</a></li>
				<li><a href="#">Language</a></li>
				<li><a href="#">Change Country</a></li>
			</ul>
		</div>
	</div>
</section>