.pdpmodal-addedtocart {
    &__overlay {
        z-index: 100;
        position: fixed;
        top: 0; 
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(173, 173, 173, 0.498);
    }

    &__modal {
        position: fixed;
        z-index: 101;
        padding: 10px 20px;
        background-color: white;
        width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        &__title {
            padding-top: 40px;
            padding-bottom: 30px;
            text-align: center;
            text-transform: uppercase;
            color: black;
            font-size: 18px;
            line-height: 26px;
            font-weight: bold;
        }

        &__control {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
        }
        &__checkout {
            font-size: 14px;
            text-transform: uppercase;
            color: white;
            background-color: black;
            height: 40px;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
        
        &__continue {
            font-size: 14px;
            text-transform: uppercase;
            color: black;
            background-color: white;
            height: 40px;
            display: grid;
            place-items: center;
            border: 1px solid black;
            cursor: pointer;
            
        }

        &__body {
            display: flex;
            flex: 1;
            margin-bottom: 20px;
            
            &__media {
                height: 100%;
                // background-color: red; 
                flex: 1;
                
                
                &__img {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            
            &__content {
                margin-left: 20px;
                flex: 2;
                height: 100%;
                // background-color: yellow;

                &__title {
                    // background-color: red;
                    font-size: 17px;
                    text-transform: uppercase;
                    margin-bottom: 25px;
                }

                &__qty {
                    display: flex;
                    margin-bottom: 10px;
                    &__label {
                    }
                    &__value {
                        margin-left: 10px;
                    }
                }

                &__size {
                    display: flex;
                    &__label {
                    }
                    &__value {
                        margin-left: 10px;
                    }

                }

                &__price {
                    font-size: 17px;
                    font-weight: bold;
                    margin-top: 15px;
                }
            }
        }
    }


}