<div class="pdp__content__accordions">

    {% if product.metafields.custom_fields.editors_note %}
        <div class="pdp__content__accordions__item">
            <div class="pdp__content__accordions__item__heading">
                <div class="pdp__content__accordions__item__heading__title">The Fragrance</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="12.434" height="6.924" viewBox="0 0 12.434 6.924">
                    <path fill="none" stroke="#000" d="M-11902.357-18787.281l5.863 5.867-5.863 5.859" transform="translate(-18775.201 11902.711) rotate(90)"/>
                </svg>
            </div>
            <div class="pdp__content__accordions__item__body active" style="overflow:hidden">
                <div class="pdp__content__accordions__item__body-inner">
                    {{ product.metafields.custom_fields.editors_note }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if product.metafields.custom_fields.details %}
        <div class="pdp__content__accordions__item">
            <div class="pdp__content__accordions__item__heading">
                <div class="pdp__content__accordions__item__heading__title">Details</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="12.434" height="6.924" viewBox="0 0 12.434 6.924">
                    <path fill="none" stroke="#000" d="M-11902.357-18787.281l5.863 5.867-5.863 5.859" transform="translate(-18775.201 11902.711) rotate(90)"/>
                </svg>
            </div>
            <div class="pdp__content__accordions__item__body" style="overflow:hidden; height: 0;">
                <div class="pdp__content__accordions__item__body-inner">
                    {{ product.metafields.custom_fields.details }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if product.metafields.custom_fields.benefits %}
        <div class="pdp__content__accordions__item">
            <div class="pdp__content__accordions__item__heading">
                <div class="pdp__content__accordions__item__heading__title">Benefits</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="12.434" height="6.924" viewBox="0 0 12.434 6.924">
                    <path fill="none" stroke="#000" d="M-11902.357-18787.281l5.863 5.867-5.863 5.859" transform="translate(-18775.201 11902.711) rotate(90)"/>
                </svg>
            </div>
            <div class="pdp__content__accordions__item__body" style="overflow:hidden; height: 0;">
                <div class="pdp__content__accordions__item__body-inner">
                    {{ product.metafields.custom_fields.benefits }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="pdp__content__accordions__item">
        <div class="pdp__content__accordions__item__heading">
            <div class="pdp__content__accordions__item__heading__title">Delivery</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12.434" height="6.924" viewBox="0 0 12.434 6.924">
                <path fill="none" stroke="#000" d="M-11902.357-18787.281l5.863 5.867-5.863 5.859" transform="translate(-18775.201 11902.711) rotate(90)"/>
            </svg>
        </div>
        <div class="pdp__content__accordions__item__body" style="overflow:hidden; height: 0;">
            <div class="pdp__content__accordions__item__body-inner">
                <p>                   
                    {{ section.settings.related_products_del_msg }}
                </p>
            </div>
        </div>
    </div>
    
</div>